body {
   margin: 0;
   font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
     "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
     sans-serif;
   min-height: 100vh;
 
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(210,214,219);
background: linear-gradient(320deg, rgba(210,214,219,1) 27%, rgba(249,250,251,1) 43%);
 }
 

 .container{
  width: 340px;
  

 }
 .top-box{
  border-radius: 25px;

 }

img{
  width: 100%;
  border-radius: 7px 7px 0 0;
}

 .bottom-box{
  padding: 24px 14px;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
 
 }
 .span-box{
  width: 4.188rem;
  height: 1.5rem;
  border-radius: 50px;
  padding: 2px 8px;
  display: inline;
  border: 1px solid #BBF7D0;
  background-color: #F0FDF4;
 }
 .span-1{
  color: #15803D;
 }
 .title-box{
 
 }
 .p-box{
 
 }

 a{
  text-decoration: none;
  color: #4338CA;
 }

 svg{
  width: 20px;
  color: #4338CA;
 }

 .link-box{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
 
 }